/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 100%;
}

.inner-container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 240px);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.ui-center {
  width: 90%;
  max-width: 1120px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.ui-center::after {
  content: "";
  display: block;
  clear: both;
}

.col-half {
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.193548385%;
  margin-left: 0%;
  margin-right: 1.61290323%;
}
.col-half::after {
  content: "";
  display: block;
  clear: both;
}
.col-half:last-child {
  margin-right: 0%;
}

.ui-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.ui-col {
  width: 50%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.ui-label {
  font-size: 2.4rem;
  color: #000;
  font-weight: bold;
}

.ui-button {
  font-size: 1.8rem;
  color: #333333;
  font-weight: bold;
  max-width: 16rem;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 1rem;
  padding: 2rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
}
.ui-button:hover {
  filter: brightness(80%);
}

#nav-toggle {
  cursor: pointer;
  padding: 30px 35px 16px 0px;
  display: none;
}

@media (max-width: 800px) {
  #nav-toggle {
    display: block;
  }
}
@media (max-width: 500px) {
  #nav-toggle {
    cursor: pointer;
    padding: 15px 35px 16px 0px;
  }
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: "";
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 200ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px;
  background: #4dd1d1;
  background: -webkit-gradient(left top, right top, color-stop(0%, #4dd1d1), color-stop(100%, #092432));
  background: linear-gradient(to right, #4dd1d1 0%, #092432 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dd1d1', endColorstr='#092432', GradientType=1 );
}
.header-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header-menu li {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 50px;
}

.card-destaque {
  box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.75);
  padding: 30px 35px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-destaque-r {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.card-destaque-avatar {
  border-radius: 100%;
  margin-right: 40px;
}
.card-destaque-dados__info {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-align: end;
      align-items: flex-end;
}
.card-destaque-dados__info:last-child {
  margin-bottom: 0px;
}
.card-destaque-dados__info .title {
  font-size: 20px;
  color: #707070;
  text-transform: uppercase;
  margin-right: 20px;
  width: 70px;
}
.card-destaque-dados__info .result {
  font-weight: bold;
  color: #092432;
  font-size: 24px;
}

.grp-cards {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grp-cards a {
  width: calc(33% - 10px);
  margin-right: 20px;
  margin-bottom: 30px;
}
.grp-cards a:nth-child(3n) {
  margin-right: 0px;
}
.grp-cards .card {
  padding: 30px;
  cursor: pointer;
  box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
.grp-cards .card:hover {
  transform: scale(1);
}
.grp-cards .card:not(:hover) {
  opacity: 0.9;
  transform: scale(0.98);
}
.grp-cards .card-avatar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.grp-cards .card-avatar .avatar {
  position: relative;
  background: url("../../../images/avatar.png");
  background-size: cover;
  height: 140px;
  width: 140px;
  margin-right: 20px;
}
.grp-cards .card-avatar .avatar .num {
  background: #4dd2d2;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: #092331;
  font-size: 24px;
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}
.grp-cards .card-info {
  color: #002b50;
}
.grp-cards .card-info .nome {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.grp-cards .card-info .cargo {
  font-size: 20px;
  color: #707070;
}
.grp-cards .select {
  background: #002b50;
}
.grp-cards .select .card-info {
  color: #fff;
}
.grp-cards .select .card-info .nome {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.grp-cards .select .card-info .cargo {
  font-size: 20px;
  color: #fff;
}

@media (max-width: 1030px) {
  .container {
    max-width: 880px;
  }

  .grp-cards a {
    width: calc(50%);
    margin-right: 0px;
  }
}
@media (max-width: 800px) {
  #nav-toggle {
    z-index: 30;
  }

  .header {
    position: relative;
  }

  .header-menu {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 0vh;
    z-index: 20;
    padding: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
  }

  .active-menu {
    height: 100vh;
    opacity: 1;
    display: -ms-flexbox;
    display: flex;
  }

  .header-menu li {
    color: #fff;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .grp-cards a {
    width: 100%;
  }

  .grp-cards .card {
    width: 100%;
  }

  .grp-cards .card-avatar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
  }

  .grp-cards .card-avatar .avatar {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .card-destaque-r {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .card-destaque-avatar {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 300px;
  }

  .header-logo img {
    width: 150px;
  }
}
